.skills-sq {
  border-radius: 10%;
}

@media screen and (max-width: 600px) {
    .left-home{
        display: none;
    }

    .right-home{
        display: none;
    }

    .home{
        height: 70vh;
        flex-direction: column;
    }

    .mid-home{
        width: 60%;
        height: 90%;
        margin: auto;
        text-align: center;
    }

    .text{
        font-size: medium;
    }
  
}

@media screen and (min-width: 601px) {
    .home{
        height: 90vh;
    }
    .left-home{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        padding: 1rem;
    }
    .mid-home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .right-home{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        padding: 1rem;
    }

}
